<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page=1">&laquo; první</a>
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.previous_page_number }}">předchozí</a>
        {% endif %}

        <span class="current">
            stránka {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{page_obj.next_page_number }}">další</a>
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.paginator.num_pages }}">poslední &raquo;</a>
        {% endif %}
    </span>
</div>